<!-- 二次确认弹窗 -->
<ng-template #iconTpl>
    <i nz-icon nzType="question-circle-o" style="color: red;"></i>
</ng-template>

<!-- <a href="javascript:scroll(0,0)">返回顶部</a> -->

<!-- 分类(产品)管理 -->

<!-- 一级材料分类： 增  删  改 -->
<!-- 二级材料分类： 增  删  改 -->
<!-- 采购产品档案分类： 增  删  改 -->
<nz-spin [nzSpinning]="isSpinning" [nzDelay]="0">

    <div>
        <!-- style="width: 100%;display: flex;justify-content: center;justify-items: center;align-content: center;position: relative;left: 75px;" -->
        <nz-tabset (nzSelectChange)='resetList()' nzTabPosition='left'>

            <nz-tab nzTitle="一级材料分类">
                <div
                    style="width: 100%;display: flex;justify-content: center;justify-items: center;align-content: center;position: relative;right: 50px;margin: 20px 0px;">

                    <nz-tabset [nzSize]="'small'" [nzTabPosition]="'top'" [nzType]="'card'" [nzTabBarGutter]="'50'"
                        (nzSelectChange)='resetList()'>
                        <nz-tab
                            nzTitle="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;新&nbsp;&nbsp;增&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;">

                            <!-- 新增一级材料分类 -->
                            <div class="Tips"
                                style="display: flex;width: 100%;justify-content: center;justify-items: center;align-content: center;">
                                <div style="display: flex;width: 70%;justify-content: center;align-items: center;">
                                    <div style="color: red;font-weight: 500;font-size: small;">*&nbsp;</div>
                                    <input nz-input placeholder="创建一级材料名称" [(ngModel)]="FirstAdd.categoryFirName"
                                        oninput="value=value.replace(/\s+/g,'')" />
                                </div>
                                <span class="tooltiptext">创建一级材料名称(必填)</span>
                            </div>
                            <div class="Tips"
                                style="display: flex;width: 100%;justify-content: center;justify-items: center;align-content: center;">
                                <div style="display: flex;width: 70%;justify-content: center;align-items: center;">
                                    <div style="color: red;font-weight: 500;font-size: small;">&nbsp;&nbsp;</div>
                                    <input nz-input placeholder="备注" [(ngModel)]="FirstAdd.remark"
                                        oninput="value=value.replace(/\s+/g,'')" />
                                </div>
                                <span class="tooltiptext">备注(默认为无)</span>
                            </div>
                            <div
                                style="display: flex;width: 100%;justify-content: center;justify-items: center;align-content: center;margin: 10px 0px;">
                                <button nz-button nzType="primary" nz-popconfirm nzPopconfirmTitle="请确认信息填写无误！"
                                    [nzSize]="'small'" [nzIcon]="iconTpl" (nzOnConfirm)="categoryFirst_add()"
                                    (nzOnCancel)="cancel()">提交</button>
                            </div>

                        </nz-tab>
                        <nz-tab
                            nzTitle="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;修&nbsp;&nbsp;改&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;">

                            <!-- 修改一级材料分类 -->
                            <div class="Tips"
                                style="display: flex;width: 100%;justify-content: center;justify-items: center;align-content: center;">
                                <div style="display: flex;width: 70%;justify-content: center;align-items: center;">
                                    <div style="color: red;font-weight: 500;font-size: small;">*&nbsp;</div>
                                    <nz-select style="width: 100%;" nzPlaceHolder="选择修改的一级材料名称"
                                        [(ngModel)]="FirstModify.code"
                                        (ngModelChange)='FindFirstById(FirstModify.code)'>
                                        <ng-container *ngFor="let item of categoryFirstList;let j = index">
                                            <nz-option nzValue="{{item.code}}" nzLabel="{{item.categoryFirName}}">
                                            </nz-option>
                                        </ng-container>
                                    </nz-select>
                                </div>
                                <span class="tooltiptext">选择修改的一级材料名称(必填)</span>
                            </div>
                            <div class="Tips"
                                style="display: flex;width: 100%;justify-content: center;justify-items: center;align-content: center;">
                                <div style="display: flex;width: 70%;justify-content: center;align-items: center;">
                                    <div style="color: red;font-weight: 500;font-size: small;">*&nbsp;</div>
                                    <input nz-input placeholder="输入修改后名称" [(ngModel)]="FirstModify.categoryFirName"
                                        oninput="value=value.replace(/\s+/g,'')" />
                                </div>
                                <span class="tooltiptext">修改后名称(必填)</span>
                            </div>
                            <div class="Tips"
                                style="display: flex;width: 100%;justify-content: center;justify-items: center;align-content: center;">
                                <div style="display: flex;width: 70%;justify-content: center;align-items: center;">
                                    <div style="color: red;font-weight: 500;font-size: small;">&nbsp;&nbsp;</div>
                                    <input nz-input placeholder="备注(修改后覆盖)" [(ngModel)]="FirstModify.remark"
                                        oninput="value=value.replace(/\s+/g,'')" />
                                </div>
                                <span class="tooltiptext">备注(修改后覆盖)</span>
                            </div>
                            <div
                                style="display: flex;width: 100%;justify-content: center;justify-items: center;align-content: center;margin: 10px 0px;">
                                <button nz-button nzType="primary" nz-popconfirm nzPopconfirmTitle="请确认信息填写无误！"
                                    [nzSize]="'small'" [nzIcon]="iconTpl" (nzOnConfirm)="categoryFirst_modify()"
                                    (nzOnCancel)="cancel()">提交</button>
                            </div>

                        </nz-tab>
                        <nz-tab
                            nzTitle="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;删&nbsp;&nbsp;除&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;">

                            <!-- 删除一级材料分类 -->
                            <div class="Tips"
                                style="display: flex;width: 100%;justify-content: center;justify-items: center;align-content: center;">
                                <div style="display: flex;width: 70%;justify-content: center;align-items: center;">
                                    <div style="color: red;font-weight: 500;font-size: small;">*&nbsp;</div>
                                    <nz-select style="width: 100%;" nzPlaceHolder="选择删除的一级材料名称"
                                        [(ngModel)]="deleteCategoryFirBizId">
                                        <ng-container *ngFor="let item of categoryFirstList;let j = index">
                                            <nz-option nzValue="{{item.bizId}}" nzLabel="{{item.categoryFirName}}">
                                            </nz-option>
                                        </ng-container>
                                    </nz-select>
                                </div>
                                <span class="tooltiptext">选择删除的一级材料名称(必填)</span>
                            </div>
                            <div
                                style="display: flex;width: 100%;justify-content: center;justify-items: center;align-content: center;margin: 10px 0px;">
                                <button nz-button nzType="primary" nz-popconfirm nzPopconfirmTitle="请确认信息填写无误！"
                                    [nzSize]="'small'" [nzIcon]="iconTpl" (nzOnConfirm)="categoryFirst_delete()"
                                    (nzOnCancel)="cancel()">提交</button>
                            </div>

                        </nz-tab>
                    </nz-tabset>
                </div>
            </nz-tab>

            <nz-tab nzTitle="二级材料分类">
                <div
                    style="width: 100%;display: flex;justify-content: center;justify-items: center;align-content: center;position: relative;right: 50px;margin: 20px 0px;">

                    <nz-tabset [nzSize]="'small'" [nzTabPosition]="'top'" [nzType]="'card'" [nzTabBarGutter]="'50'"
                        (nzSelectChange)='resetList()'>
                        <nz-tab
                            nzTitle="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;新&nbsp;&nbsp;增&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;">

                            <!-- 新增二级材料分类 -->
                            <div class="Tips"
                                style="display: flex;width: 100%;justify-content: center;justify-items: center;align-content: center;">
                                <div style="display: flex;width: 70%;justify-content: center;align-items: center;">
                                    <div style="color: red;font-weight: 500;font-size: small;">*&nbsp;</div>
                                    <nz-select style="width: 100%;" nzPlaceHolder="选择一级材料名称"
                                        [(ngModel)]="SecondAdd.firstCode">
                                        <ng-container *ngFor="let item of categoryFirstList;let j = index">
                                            <nz-option nzValue="{{item.code}}" nzLabel="{{item.categoryFirName}}">
                                            </nz-option>
                                        </ng-container>
                                    </nz-select>
                                </div>
                                <span class="tooltiptext">选择一级材料名称(必填)</span>
                            </div>
                            <div class="Tips"
                                style="display: flex;width: 100%;justify-content: center;justify-items: center;align-content: center;">
                                <div style="display: flex;width: 70%;justify-content: center;align-items: center;">
                                    <div style="color: red;font-weight: 500;font-size: small;">*&nbsp;</div>
                                    <input nz-input placeholder="创建二级材料名称" [(ngModel)]="SecondAdd.categoryName"
                                        oninput="value=value.replace(/\s+/g,'')" />
                                </div>
                                <span class="tooltiptext">创建二级材料名称(必填)</span>
                            </div>
                            <div class="Tips"
                                style="display: flex;width: 100%;justify-content: center;justify-items: center;align-content: center;">
                                <div style="display: flex;width: 70%;justify-content: center;align-items: center;">
                                    <div style="color: red;font-weight: 500;font-size: small;">*&nbsp;</div>
                                    <input nz-input placeholder="备注" [(ngModel)]="SecondAdd.remark"
                                        oninput="value=value.replace(/\s+/g,'')" />
                                </div>
                                <span class="tooltiptext">备注(默认为无)</span>
                            </div>
                            <div
                                style="display: flex;width: 100%;justify-content: center;justify-items: center;align-content: center;margin: 10px 0px;">
                                <button nz-button nzType="primary" nz-popconfirm nzPopconfirmTitle="请确认信息填写无误！"
                                    [nzSize]="'small'" [nzIcon]="iconTpl" (nzOnConfirm)="categorySecond_add()"
                                    (nzOnCancel)="cancel()">提交</button>
                            </div>

                        </nz-tab>
                        <nz-tab
                            nzTitle="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;修&nbsp;&nbsp;改&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;">

                            <!-- 修改二级材料分类 -->
                            <div class="Tips"
                                style="display: flex;width: 100%;justify-content: center;justify-items: center;align-content: center;">
                                <div style="display: flex;width: 70%;justify-content: center;align-items: center;">
                                    <div style="color: red;font-weight: 500;font-size: small;">*&nbsp;</div>
                                    <nz-select style="width: 100%;" nzPlaceHolder="选择一级材料名称"
                                        [(ngModel)]="SecondModify.firstCode"
                                        (ngModelChange)='FindCategory(SecondModify.firstCode)'>
                                        <ng-container *ngFor="let item of categoryFirstList;let j = index">
                                            <nz-option nzValue="{{item.code}}" nzLabel="{{item.categoryFirName}}">
                                            </nz-option>
                                        </ng-container>
                                    </nz-select>
                                </div>
                                <span class="tooltiptext">选择一级材料名称(必填)</span>
                            </div>
                            <div class="Tips"
                                style="display: flex;width: 100%;justify-content: center;justify-items: center;align-content: center;">
                                <div style="display: flex;width: 70%;justify-content: center;align-items: center;">
                                    <div style="color: red;font-weight: 500;font-size: small;">*&nbsp;</div>
                                    <nz-select style="width: 100%;" nzPlaceHolder="选择修改的二级材料名称"
                                        [(ngModel)]="SecondModify.bizId"
                                        (ngModelChange)='FindCategorySecond(SecondModify.bizId)'>
                                        <ng-container *ngFor="let item of categorySecondList;let j = index">
                                            <nz-option nzValue="{{item.bizId}}" nzLabel="{{item.categoryName}}">
                                            </nz-option>
                                        </ng-container>
                                    </nz-select>
                                </div>
                                <span class="tooltiptext">选择修改的二级材料名称(必填)</span>
                            </div>
                            <div class="Tips"
                                style="display: flex;width: 100%;justify-content: center;justify-items: center;align-content: center;">
                                <div style="display: flex;width: 70%;justify-content: center;align-items: center;">
                                    <div style="color: red;font-weight: 500;font-size: small;">*&nbsp;</div>
                                    <input nz-input placeholder="修改后名称" [(ngModel)]="SecondModify.categoryName"
                                        oninput="value=value.replace(/\s+/g,'')" />
                                </div>
                                <span class="tooltiptext">修改后名称(必填)</span>
                            </div>
                            <div class="Tips"
                                style="display: flex;width: 100%;justify-content: center;justify-items: center;align-content: center;">
                                <div style="display: flex;width: 70%;justify-content: center;align-items: center;">
                                    <div style="color: red;font-weight: 500;font-size: small;">&nbsp;&nbsp;</div>
                                    <input nz-input placeholder="备注(修改后覆盖)" [(ngModel)]="SecondModify.remark"
                                        oninput="value=value.replace(/\s+/g,'')" />
                                </div>
                                <span class="tooltiptext">备注(修改后覆盖)</span>
                            </div>
                            <div
                                style="display: flex;width: 100%;justify-content: center;justify-items: center;align-content: center;margin: 10px 0px;">
                                <button nz-button nzType="primary" nz-popconfirm nzPopconfirmTitle="请确认信息填写无误！"
                                    [nzSize]="'small'" [nzIcon]="iconTpl" (nzOnConfirm)="categorySecond_modify()"
                                    (nzOnCancel)="cancel()">提交</button>
                            </div>

                        </nz-tab>
                        <nz-tab
                            nzTitle="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;删&nbsp;&nbsp;除&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;">

                            <!-- 删除二级材料分类 -->
                            <div class="Tips"
                                style="display: flex;width: 100%;justify-content: center;justify-items: center;align-content: center;">
                                <div style="display: flex;width: 70%;justify-content: center;align-items: center;">
                                    <div style="color: red;font-weight: 500;font-size: small;">*&nbsp;</div>
                                    <nz-select style="width: 100%;" nzPlaceHolder="选择一级材料名称"
                                        [(ngModel)]="SecondDelete.firstCode"
                                        (ngModelChange)='FindCategory(SecondDelete.firstCode)'>
                                        <ng-container *ngFor="let item of categoryFirstList;let j = index">
                                            <nz-option nzValue="{{item.code}}" nzLabel="{{item.categoryFirName}}">
                                            </nz-option>
                                        </ng-container>
                                    </nz-select>
                                </div>
                                <span class="tooltiptext">选择一级材料名称(必填)</span>
                            </div>
                            <div class="Tips"
                                style="display: flex;width: 100%;justify-content: center;justify-items: center;align-content: center;">
                                <div style="display: flex;width: 70%;justify-content: center;align-items: center;">
                                    <div style="color: red;font-weight: 500;font-size: small;">*&nbsp;</div>
                                    <nz-select style="width: 100%;" nzPlaceHolder="选择删除的二级材料名称"
                                        [(ngModel)]="SecondDelete.bizId">
                                        <ng-container *ngFor="let item of categorySecondList;let j = index">
                                            <nz-option nzValue="{{item.bizId}}" nzLabel="{{item.categoryName}}">
                                            </nz-option>
                                        </ng-container>
                                    </nz-select>
                                </div>
                                <span class="tooltiptext">选择删除的二级材料名称(必填)</span>
                            </div>
                            <div
                                style="display: flex;width: 100%;justify-content: center;justify-items: center;align-content: center;margin: 10px 0px;">
                                <button nz-button nzType="primary" nz-popconfirm nzPopconfirmTitle="请确认信息填写无误！"
                                    [nzSize]="'small'" [nzIcon]="iconTpl" (nzOnConfirm)="categorySecond_delete()"
                                    (nzOnCancel)="cancel()">提交</button>
                            </div>

                        </nz-tab>
                    </nz-tabset>

                </div>
            </nz-tab>

            <nz-tab nzTitle="采购产品档案">
                <div
                    style="width: 100%;display: flex;justify-content: center;justify-items: center;align-content: center;position: relative;right: 50px;margin: 20px 0px;">

                    <nz-tabset [nzSize]="'small'" [nzTabPosition]="'top'" [nzType]="'card'" [nzTabBarGutter]="'50'"
                        (nzSelectChange)='resetList()'>
                        <nz-tab
                            nzTitle="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;新&nbsp;&nbsp;增&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;">

                            <!-- 新增采购产品档案 -->
                            <div class="Tips"
                                style="display: flex;width: 100%;justify-content: center;justify-items: center;align-content: center;">
                                <div style="display: flex;width: 70%;justify-content: center;align-items: center;">
                                    <div style="color: red;font-weight: 500;font-size: small;">*&nbsp;</div>
                                    <nz-select style="width: 100%;" nzPlaceHolder="选择一级材料名称"
                                        [(ngModel)]="ProductAdd.categoryFir_code"
                                        (ngModelChange)='FindCategory(ProductAdd.categoryFir_code)'>
                                        <ng-container *ngFor="let item of categoryFirstList;let j = index">
                                            <nz-option nzValue="{{item.code}}" nzLabel="{{item.categoryFirName}}">
                                            </nz-option>
                                        </ng-container>
                                    </nz-select>
                                </div>
                                <span class="tooltiptext">选择一级材料名称(必填)</span>
                            </div>
                            <div class="Tips"
                                style="display: flex;width: 100%;justify-content: center;justify-items: center;align-content: center;">
                                <div style="display: flex;width: 70%;justify-content: center;align-items: center;">
                                    <div style="color: red;font-weight: 500;font-size: small;">*&nbsp;</div>
                                    <nz-select style="width: 100%;" nzPlaceHolder="选择二级材料名称"
                                        [(ngModel)]="ProductAdd.categorySecCode"
                                        (ngModelChange)='bindSecName(ProductAdd.categorySecCode)'>
                                        <ng-container *ngFor="let item of categorySecondList;let j = index">
                                            <nz-option nzValue="{{item.code}}" nzLabel="{{item.categoryName}}">
                                            </nz-option>
                                        </ng-container>
                                    </nz-select>
                                </div>
                                <span class="tooltiptext">选择二级材料名称(必填)</span>
                            </div>
                            <div class="Tips"
                                style="display: flex;width: 100%;justify-content: center;justify-items: center;align-content: center;">
                                <div style="display: flex;width: 70%;justify-content: center;align-items: center;">
                                    <div style="color: red;font-weight: 500;font-size: small;">*&nbsp;</div>
                                    <input nz-input placeholder="创建产品名称" [(ngModel)]="ProductAdd.productName"
                                        oninput="value=value.replace(/\s+/g,'')" />
                                </div>
                                <span class="tooltiptext">创建产品名称(必填)</span>
                            </div>
                            <div class="Tips"
                                style="display: flex;width: 100%;justify-content: center;justify-items: center;align-content: center;">
                                <div style="display: flex;width: 70%;justify-content: center;align-items: center;">
                                    <div style="color: red;font-weight: 500;font-size: small;">*&nbsp;</div>
                                    <input nz-input placeholder="型号" [(ngModel)]="ProductAdd.specifications"
                                        oninput="value=value.replace(/\s+/g,'')" />
                                </div>
                                <span class="tooltiptext">型号(必填)</span>
                            </div>
                            <div class="Tips"
                                style="display: flex;width: 100%;justify-content: center;justify-items: center;align-content: center;">
                                <div style="display: flex;width: 70%;justify-content: center;align-items: center;">
                                    <div style="color: red;font-weight: 500;font-size: small;">*&nbsp;</div>
                                    <input nz-input placeholder="计量单位" [(ngModel)]="ProductAdd.metering"
                                        oninput="value=value.replace(/\s+/g,'')" />
                                </div>
                                <span class="tooltiptext">计量单位(必填)</span>
                            </div>
                            <!-- <div class="Tips"
                                style="display: flex;width: 100%;justify-content: center;justify-items: center;align-content: center;margin: 10px 0px;">
                                <div style="display: flex;width: 70%;">
                                    <p style="color: #fff;font-size: large;font-weight: 500;">*&nbsp;&nbsp;&nbsp;</p>
                                    <nz-input-number style="width: 100%;" [(ngModel)]="ProductAdd.priceReduct"
                                        [nzMin]="0" [nzMax]="100" [nzStep]="0.01" [nzFormatter]="formatterPercent"
                                        [nzParser]="parserPercent" (ngModelChange)=formatterPercentage(1)>
                                    </nz-input-number>
                                </div>
                                <span class="tooltiptext">减价阶梯(默认为0)</span>
                            </div> -->
                            <div class="Tips"
                                style="display: flex;width: 100%;justify-content: center;justify-items: center;align-content: center;">
                                <div style="display: flex;width: 70%;justify-content: center;align-items: center;">
                                    <div style="color: red;font-weight: 500;font-size: small;">&nbsp;&nbsp;</div>
                                    <input nz-input placeholder="品牌" [(ngModel)]="ProductAdd.productBrand"
                                        oninput="value=value.replace(/\s+/g,'')" />
                                </div>
                                <span class="tooltiptext">品牌(默认为无)</span>
                            </div>
                            <div class="Tips"
                                style="display: flex;width: 100%;justify-content: center;justify-items: center;align-content: center;">
                                <div style="display: flex;width: 70%;justify-content: center;align-items: center;">
                                    <div style="color: red;font-weight: 500;font-size: small;">&nbsp;&nbsp;</div>
                                    <input nz-input placeholder="备注" [(ngModel)]="ProductAdd.remark"
                                        oninput="value=value.replace(/\s+/g,'')" />
                                </div>
                                <span class="tooltiptext">备注(默认为无)</span>
                            </div>
                            <div
                                style="display: flex;width: 100%;justify-content: center;justify-items: center;align-content: center;margin: 10px 0px;">
                                <button nz-button nzType="primary" nz-popconfirm nzPopconfirmTitle="请确认信息填写无误！"
                                    [nzSize]="'small'" [nzIcon]="iconTpl" (nzOnConfirm)="product_add()"
                                    (nzOnCancel)="cancel()">提交</button>
                            </div>

                        </nz-tab>
                        <nz-tab
                            nzTitle="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;修&nbsp;&nbsp;改&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;">

                            <!-- 修改采购产品档案 -->
                            <div class="Tips"
                                style="display: flex;width: 100%;justify-content: center;justify-items: center;align-content: center;">
                                <div style="display: flex;width: 70%;justify-content: center;align-items: center;">
                                    <div style="color: red;font-weight: 500;font-size: small;">*&nbsp;</div>
                                    <nz-select style="width: 100%;" nzPlaceHolder="请选择一级材料名称"
                                        [(ngModel)]="ProductModifyFristCode"
                                        (ngModelChange)='FindCategory(ProductModifyFristCode)'>
                                        <ng-container *ngFor="let item of categoryFirstList;let j = index">
                                            <nz-option nzValue="{{item.code}}" nzLabel="{{item.categoryFirName}}">
                                            </nz-option>
                                        </ng-container>
                                    </nz-select>
                                </div>
                                <span class="tooltiptext">选择一级材料名称(必填)</span>
                            </div>
                            <div class="Tips"
                                style="display: flex;width: 100%;justify-content: center;justify-items: center;align-content: center;">
                                <div style="display: flex;width: 70%;justify-content: center;align-items: center;">
                                    <div style="color: red;font-weight: 500;font-size: small;">*&nbsp;</div>
                                    <nz-select style="width: 100%;" nzPlaceHolder="选择二级材料名称"
                                        [(ngModel)]="ProductModify.categorySecCode"
                                        (ngModelChange)='FindProductList(ProductModify.categorySecCode)'>
                                        <ng-container *ngFor="let item of categorySecondList;let j = index">
                                            <nz-option nzValue="{{item.code}}" nzLabel="{{item.categoryName}}">
                                            </nz-option>
                                        </ng-container>
                                    </nz-select>
                                </div>
                                <span class="tooltiptext">选择二级材料名称(必填)</span>
                            </div>
                            <div class="Tips"
                                style="display: flex;width: 100%;justify-content: center;justify-items: center;align-content: center;">
                                <div style="display: flex;width: 70%;justify-content: center;align-items: center;">
                                    <div style="color: red;font-weight: 500;font-size: small;">*&nbsp;</div>
                                    <nz-select style="width: 100%;" nzPlaceHolder="选择修改的产品名称"
                                        [(ngModel)]="ProductModify.bizId"
                                        (ngModelChange)='FindProduct(ProductModify.bizId)'>
                                        <ng-container *ngFor="let item of productList;let j = index">
                                            <nz-option nzValue="{{item.bizId}}"
                                                nzLabel="{{item.productName}}&nbsp;{{item.specifications}}">
                                            </nz-option>
                                        </ng-container>
                                    </nz-select>
                                </div>
                                <span class="tooltiptext">选择修改的产品名称(必填)</span>
                            </div>
                            <div class="Tips"
                                style="display: flex;width: 100%;justify-content: center;justify-items: center;align-content: center;">
                                <div style="display: flex;width: 70%;justify-content: center;align-items: center;">
                                    <div style="color: red;font-weight: 500;font-size: small;">*&nbsp;</div>
                                    <input nz-input placeholder="修改后名称" [(ngModel)]="ProductModify.productName"
                                        oninput="value=value.replace(/\s+/g,'')" />
                                </div>
                                <span class="tooltiptext">修改后名称(必填)</span>
                            </div>
                            <div class="Tips"
                                style="display: flex;width: 100%;justify-content: center;justify-items: center;align-content: center;">
                                <div style="display: flex;width: 70%;justify-content: center;align-items: center;">
                                    <div style="color: red;font-weight: 500;font-size: small;">*&nbsp;</div>
                                    <input nz-input placeholder="型号" [(ngModel)]="ProductModify.specifications"
                                        oninput="value=value.replace(/\s+/g,'')" />
                                </div>
                                <span class="tooltiptext">型号(必填)</span>
                            </div>
                            <div class="Tips"
                                style="display: flex;width: 100%;justify-content: center;justify-items: center;align-content: center;">
                                <div style="display: flex;width: 70%;justify-content: center;align-items: center;">
                                    <div style="color: red;font-weight: 500;font-size: small;">*&nbsp;</div>
                                    <input nz-input placeholder="计量单位" [(ngModel)]="ProductModify.metering"
                                        oninput="value=value.replace(/\s+/g,'')" />
                                </div>
                                <span class="tooltiptext">计量单位(必填)</span>
                            </div>
                            <!-- <div class="Tips"
                                style="display: flex;width: 100%;justify-content: center;justify-items: center;align-content: center;margin: 10px 0px;">
                                <div style="display: flex;width: 70%;">
                                    <p style="color: #fff;font-size: large;font-weight: 500;">*&nbsp;&nbsp;&nbsp;</p>
                                    <nz-input-number style="width: 100%;" [(ngModel)]="ProductModify.priceReduct"
                                        [nzMin]="0" [nzMax]="100" [nzStep]="0.01" [nzFormatter]="formatterPercent"
                                        [nzParser]="parserPercent" (ngModelChange)=formatterPercentage(2)>
                                    </nz-input-number>
                                </div>
                                <span class="tooltiptext">减价阶梯(默认为0)</span>
                            </div> -->
                            <div class="Tips"
                                style="display: flex;width: 100%;justify-content: center;justify-items: center;align-content: center;">
                                <div style="display: flex;width: 70%;justify-content: center;align-items: center;">
                                    <div style="color: red;font-weight: 500;font-size: small;">&nbsp;&nbsp;</div>
                                    <input nz-input placeholder="品牌" [(ngModel)]="ProductModify.productBrand"
                                        oninput="value=value.replace(/\s+/g,'')" />
                                </div>
                                <span class="tooltiptext">品牌(默认为无)</span>
                            </div>
                            <div class="Tips"
                                style="display: flex;width: 100%;justify-content: center;justify-items: center;align-content: center;">
                                <div style="display: flex;width: 70%;justify-content: center;align-items: center;">
                                    <div style="color: red;font-weight: 500;font-size: small;">&nbsp;&nbsp;</div>
                                    <input nz-input placeholder="备注" [(ngModel)]="ProductModify.remark"
                                        oninput="value=value.replace(/\s+/g,'')" />
                                </div>
                                <span class="tooltiptext">备注(默认为无)</span>
                            </div>
                            <div
                                style="display: flex;width: 100%;justify-content: center;justify-items: center;align-content: center;margin: 10px 0px;">
                                <button nz-button nzType="primary" nz-popconfirm nzPopconfirmTitle="请确认信息填写无误！"
                                    [nzSize]="'small'" [nzIcon]="iconTpl" (nzOnConfirm)="product_modif()"
                                    (nzOnCancel)="cancel()">提交</button>
                            </div>

                        </nz-tab>
                        <nz-tab
                            nzTitle="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;删&nbsp;&nbsp;除&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;">

                            <!-- 删除采购产品档案 -->
                            <div class="Tips"
                                style="display: flex;width: 100%;justify-content: center;justify-items: center;align-content: center;">
                                <div style="display: flex;width: 70%;justify-content: center;align-items: center;">
                                    <div style="color: red;font-weight: 500;font-size: small;">*&nbsp;</div>
                                    <nz-select style="width: 100%;" nzPlaceHolder="选择一级材料名称"
                                        [(ngModel)]="ProductDelete.firstCode"
                                        (ngModelChange)='FindCategory(ProductDelete.firstCode)'>
                                        <ng-container *ngFor="let item of categoryFirstList;let j = index">
                                            <nz-option nzValue="{{item.code}}" nzLabel="{{item.categoryFirName}}">
                                            </nz-option>
                                        </ng-container>
                                    </nz-select>
                                </div>
                                <span class="tooltiptext">选择一级材料名称(必填)</span>
                            </div>
                            <div class="Tips"
                                style="display: flex;width: 100%;justify-content: center;justify-items: center;align-content: center;">
                                <div style="display: flex;width: 70%;justify-content: center;align-items: center;">
                                    <div style="color: red;font-weight: 500;font-size: small;">*&nbsp;</div>
                                    <nz-select style="width: 100%;" nzPlaceHolder="选择二级材料名称"
                                        [(ngModel)]="ProductDelete.categorySecCode"
                                        (ngModelChange)='FindProductList(ProductDelete.categorySecCode)'>
                                        <ng-container *ngFor="let item of categorySecondList;let j = index">
                                            <nz-option nzValue="{{item.code}}" nzLabel="{{item.categoryName}}">
                                            </nz-option>
                                        </ng-container>
                                    </nz-select>
                                </div>
                                <span class="tooltiptext">选择二级材料名称(必填)</span>
                            </div>
                            <div class="Tips"
                                style="display: flex;width: 100%;justify-content: center;justify-items: center;align-content: center;">
                                <div style="display: flex;width: 70%;justify-content: center;align-items: center;">
                                    <div style="color: red;font-weight: 500;font-size: small;">*&nbsp;</div>
                                    <nz-select style="width: 100%;" nzPlaceHolder="选择删除的产品名称"
                                        [(ngModel)]="ProductDelete.bizId">
                                        <ng-container *ngFor="let item of productList;let j = index">
                                            <nz-option nzValue="{{item.bizId}}"
                                                nzLabel="{{item.productName}}&nbsp;{{item.specifications}}">
                                            </nz-option>
                                        </ng-container>
                                    </nz-select>
                                </div>
                                <span class="tooltiptext">选择删除的产品名称(必填)</span>
                            </div>
                            <div
                                style="display: flex;width: 100%;justify-content: center;justify-items: center;align-content: center;margin: 10px 0px;">
                                <button nz-button nzType="primary" nz-popconfirm nzPopconfirmTitle="请确认信息填写无误！"
                                    [nzSize]="'small'" [nzIcon]="iconTpl" (nzOnConfirm)="product_delete()"
                                    (nzOnCancel)="cancel()">提交</button>
                            </div>

                        </nz-tab>
                    </nz-tabset>

                </div>
            </nz-tab>

            <nz-tab nzTitle='基础档案查询'>
                <span style="position: relative;left: 5%;">
                    <app-quo-grid></app-quo-grid>
                </span>
            </nz-tab>

        </nz-tabset>

    </div>

</nz-spin>