.app-header {
  position: relative;
  height: 50px;
  background: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sidebar-logo {
  position: relative;
  height: 64px;
  padding-left: 15px;
  overflow: hidden;
  line-height: 64px;
  transition: all 0.3s;
  // min-width: 500px;
}

.sidebar-logo img {
  display: inline-block;
  height: 50px;
  width: 40px;
  vertical-align: middle;
}

.sidebar-logo h1 {
  display: inline-block;
  margin: 0 0 0 20px;
  color: #666;
  font-weight: 300;
  font-size: 20px;
  font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
  vertical-align: middle;
}

#menu {
  // background-color: #efefef;
  background: -moz-linear-gradient(top, #ffffff 0%, #dfdfdf 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #dfdfdf));
  background: -webkit-linear-gradient(top, #ffffff 0%, #dfdfdf 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #dfdfdf 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #dfdfdf 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #dfdfdf 100%);
  width: 100%;
  // box-shadow: 0 2px 8px rgba(0, 21, 41, .08);
  display: flex;
  justify-content: center;
  li {
    margin: 0 15px;
    height: 40px;
    margin-top: -15px;
  }
}

.menuHover {
  transform: rotate(-135deg);
  // background-color: aqua;
  border-left: 1px solid;
  border-bottom: 1px solid;
  width: 7px;
  height: 7px;
  transition: all 0.15s;
  -moz-transition: all 0.15s;
  /* Firefox 4 */
  -webkit-transition: all 0.15s;
  /* Safari 和 Chrome */
  -o-transition: all 0.15s;
  /* Opera */
  transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  /* Firefox 4 */
  -webkit-transition-timing-function: linear;
  /* Safari 和 Chrome */
  -o-transition-timing-function: linear;
  /* Opera */
}

#menuSpan:hover {
  .menuHover {
    transform: rotate(-45deg);
    border-left: 1px #1890ff solid;
    border-bottom: 1px #1890ff solid;
  }
}

a {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

span {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

ul {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

li{
  font-weight: 900;
}
