<div class="app-header">
    <div class="sidebar-logo">
        <a href="http://www.sanhepile.com/" target="_blank">
            <img src="../../../../assets/imgs/SHlogo.gif" alt="SHlogo">
            <!-- <h1 style="font-family: YouYuan;font-weight: 900;">三和管桩&nbsp;&nbsp;·&nbsp;&nbsp;采购管理平台</h1> -->
            <h1 style="font-family: Microsoft YaHei;font-weight: 300;">三和管桩&nbsp;•&nbsp;采购管理平台</h1>
            <!-- <h1 style="font-family: Microsoft YaHei;font-weight: 300;">·</h1>
            <h1 style="font-family: Microsoft YaHei;font-weight: 300;">采购管理平台</h1> -->
        </a>
    </div>
    <span style="padding-left: 4rem">
        <app-search></app-search>
    </span>
</div>

<ul id="menu" nz-menu nzMode="horizontal">

    <li nz-menu-item routerLink='/index' nzMatchRouter=true>
        首页
    </li>

    <li nz-menu-item routerLink='/tendering' nzMatchRouter=true>
        竞价公告
    </li>

 

    <li nz-submenu nzTitle="新建">
        <ul>
            <li nz-menu-item routerLink='new/project' nzMatchRouter=true>竞价项目</li>
        </ul>
    </li>

    <!-- <li id="menuSpan" nz-menu-item nz-dropdown [nzDropdownMenu]="menu2">
        <span style="display: flex;justify-content: center;align-items: center;">
            <span>管理&nbsp;&nbsp;</span>
            <div class="menuHover"></div>
        </span>
    </li>
    <nz-dropdown-menu #menu2="nzDropdownMenu">
        <ul nz-menu nzSelectable>
            <li nz-menu-item routerLink='manage/quote'>产品(物料)分类</li>
            <li nz-menu-item routerLink='manage/supplier'>供应商</li>
        </ul>
    </nz-dropdown-menu> -->

    <li nz-submenu nzTitle="管理">
        <ul>
            <li nz-menu-item routerLink='manage/quote' nzMatchRouter=true>产品(物料)分类</li>
            <li nz-menu-item routerLink='manage/supplier' nzMatchRouter=true>供应商</li>
            <li nz-menu-item routerLink='manage/settlement' nzMatchRouter=true>结算方式</li>
            <li nz-menu-item routerLink='manage/payment' nzMatchRouter=true>付款方式</li>
        </ul>
    </li>

    <!-- <li id="menuSpan" nz-menu-item nz-dropdown [nzDropdownMenu]="menu3">
        <span style="display: flex;justify-content: center;align-items: center;">
            <span>个人中心&nbsp;&nbsp;</span>
            <div class="menuHover"></div>
        </span>
    </li>
    <nz-dropdown-menu #menu3="nzDropdownMenu">
        <ul nz-menu nzSelectable>
            <li nz-menu-item>消息通知</li>
            <li nz-menu-item>账号与安全</li>
            <li nz-menu-item>我的项目</li>
            <li nz-menu-item>退出</li>
        </ul>
    </nz-dropdown-menu> -->

</ul>