<div class="ls-ui-mix">
    <div class="ls-ui-mix-toolbar">
        <app-toolbar (sendClick)="subscribeClick($event)"></app-toolbar>
    </div>
    <div class="ls-ui-mix-list">
        <app-routine-grid #epuMaterialGrid [columnDefs]="epuMaterialGridCols" rowSelectType="multiple"
            (sendSelectChange)="onEpuMaterialGridSelectChange($event)">
        </app-routine-grid>
    </div>
    <nz-page-header class="ls-ui-mix-title" nzSubtitle="详情"> </nz-page-header>
    <form nz-form class="ls-ui-mix-form" nzGutter="8" [formGroup]="epuMaterialForm"
        style="height: 100%; overflow: auto;">
        <nz-form-item hidden="true">
            <nz-form-label nzFor="bizId" nzSpan="8" nzRequired>数据标识</nz-form-label>
            <nz-form-control nzSpan="15">
                <input appCopyCut nz-input [nzSize]="controlSize" id="bizId" formControlName="bizId" readonly>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item hidden="true">
            <nz-form-label nzFor="sysVersion" nzSpan="8" nzRequired>数据版本</nz-form-label>
            <nz-form-control nzSpan="15">
                <input appCopyCut nz-input [nzSize]="controlSize" id="sysVersion" formControlName="sysVersion" readonly>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzFor="code" nzSpan="8" nzRequired>编码</nz-form-label>
            <nz-form-control nzSpan="15">
                <input appCopyCut nz-input [nzSize]="controlSize" id="code" formControlName="code" disabled>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzFor="categorySecCode" nzSpan="8" nzRequired>二级分类</nz-form-label>
            <nz-form-control nzSpan="15">
                <nz-select nzAllowClear=true nzShowSearch nzServerSearch id="categorySecCode" [nzSize]="controlSize"
                    [nzDisabled]="!isEditMode" formControlName="categorySecCode" [nzShowArrow]="false"
                    (nzOnSearch)="getParentList($event)">
                    <nz-option *ngFor="let item of categorySecondList;let j = index" nzValue="{{item.code}}"
                        nzLabel="{{item.categoryName}}">
                    </nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzFor="productName" nzSpan="8" nzRequired>名称</nz-form-label>
            <nz-form-control nzSpan="15">
                <input appCopyCut nz-input [nzSize]="controlSize" id="productName" formControlName="productName"
                    [disabled]="!isEditMode" [readonly]="!isEditMode">
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzFor="specifications" nzSpan="8" nzRequired>规格型号</nz-form-label>
            <nz-form-control nzSpan="15">
                <input appCopyCut nz-input [nzSize]="controlSize" id="specifications" formControlName="specifications"
                    [disabled]="!isEditMode" [readonly]="!isEditMode" appSpaceDel>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzFor="metering" nzSpan="8" nzRequired>计量单位</nz-form-label>
            <nz-form-control nzSpan="15">
                <input appCopyCut nz-input [nzSize]="controlSize" id="metering" formControlName="metering" [disabled]="!isEditMode"
                    [readonly]="!isEditMode" appSpaceDel>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzFor="productBrand" nzSpan="8">品牌</nz-form-label>
            <nz-form-control nzSpan="15">
                <input appCopyCut nz-input [nzSize]="controlSize" id="productBrand" formControlName="productBrand"
                    [disabled]="!isEditMode" [readonly]="!isEditMode" appSpaceDel>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzFor="remark" nzSpan="8">备注</nz-form-label>
            <nz-form-control nzSpan="15">
                <input appCopyCut nz-input [nzSize]="controlSize" id="remark" formControlName="remark" [disabled]="!isEditMode"
                    [readonly]="!isEditMode" appSpaceDel>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzFor="createdByName" nzSpan="8" nzRequired>创建人</nz-form-label>
            <nz-form-control nzSpan="15">
                <input appCopyCut nz-input [nzSize]="controlSize" id="createdByName" formControlName="createdByName" disabled>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzFor="createdTime" nzSpan="8" nzRequired>创建时间</nz-form-label>
            <nz-form-control nzSpan="15">
                <input appCopyCut nz-input [nzSize]="controlSize" id="createdTime" formControlName="createdTime" disabled>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzFor="modifyByName" nzSpan="8">修改人</nz-form-label>
            <nz-form-control nzSpan="15">
                <input appCopyCut nz-input [nzSize]="controlSize" id="modifyByName" formControlName="modifyByName" disabled>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzFor="modifyTime" nzSpan="8">修改时间</nz-form-label>
            <nz-form-control nzSpan="15">
                <input appCopyCut nz-input [nzSize]="controlSize" id="modifyTime" formControlName="modifyTime" disabled>
            </nz-form-control>
        </nz-form-item>
    </form>
</div>
<app-epu-material-query [isVisible]="isShowSearchDialog" (sendClick)="searchDialogCallback($event)">
</app-epu-material-query>