<span id="end" style="margin: 50px;position: relative;left: 35px;">
    <p style="font-size: x-small">
        页面版权所有&nbsp;&nbsp;&nbsp;
        <a href="http://www.sanhepile.com/" target="_blank"><strong>广东三和管桩股份有限公司</strong></a>
    </p>
    <p style="font-size: x-small">
        地址：
        <strong>广东省中山市东升镇同兴东路30号</strong> &nbsp;&nbsp;&nbsp;邮编：
        <strong>528414</strong> &nbsp;&nbsp;&nbsp;电话：
        <strong>0760-28189998-0</strong> &nbsp;&nbsp;&nbsp;传真：
        <strong>0760-22227198</strong> &nbsp;&nbsp;&nbsp;电话:
        <strong>0512-53718322</strong> &nbsp;&nbsp;&nbsp;传真:
        <strong>0512-53718322</strong>
    </p>
    <p style="font-size: x-small">
        E-mail：
        <a class="email" href="mailto:sanhepile@sanhepile.com">
            <strong>sanhepile@sanhepile.com</strong>
        </a>&nbsp;&nbsp;&nbsp; Web copyright &copy; 2008-2010.All rights reserved.
    </p>
    <p style="font-size: x-small">
        <strong>
            信息技术中心提供网站建设
        </strong>
    </p>
</span>