#Form2 {
  // background-color: #efefef;
  width: 90%;
  // height: 500px;
  // background-color: red;
  border: 0.5px solid #ddd;
  box-shadow: 5px 5px 5px #cccccc;
  // border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 20px;
  position: relative;
  // box-shadow: #ddd 5px 5px 4px;
  // display: flex;
  // justify-content: center;
  // align-content: center;
  // width: 80%
}

.formm {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  // border: 2px solid #ddd;
  // border-radius: 10px;
  // background-color: aqua
}

a:hover {
  color: #1890ff;
}

a {
  color: #333;
}

.title {
  margin: 15px;
  font-size: large;
}

nz-spin {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
