[nz-menu] {
    // width           : 240px;
    height          : 100vh;
    overflow-y      : scroll;
    overflow-x      : hidden;
    background-color: #f8f8f8;
}

// $colorRed: red;

// @function boxHeight($H) {
//     @return $H*2
// }

// .DIV {
//     background-color: $colorRed;
//     height          : boxHeight(300px);
// }
