<!-- <p>{{CountDown}}</p> -->
<!-- <p>{{date}}</p> -->

<div class="tooltip"
    style="display: flex;width: 100%;justify-content: center;justify-items: center;align-content: center;margin: 10px 0px;">

    <div style="display: flex;" *ngIf="sec >= 0">
        <nz-tag style="margin-right: 5px;" [nzColor]="'red'"><strong>{{DD}}</strong></nz-tag>
        <nz-tag style="margin-right: 5px;color:#aaa ;">天</nz-tag>
        <nz-tag style="margin-right: 5px;" [nzColor]="'red'"><strong>{{HH}}</strong></nz-tag>
        <nz-tag style="margin-right: 5px;color:#aaa ;">小时</nz-tag>
        <nz-tag style="margin-right: 5px;" [nzColor]="'red'"><strong>{{MM}}</strong></nz-tag>
        <nz-tag style="margin-right: 5px;color:#aaa ;">分</nz-tag>
        <nz-tag style="margin-right: 5px;" [nzColor]="'red'"><strong>{{SS}}</strong></nz-tag>
        <nz-tag style="color:#aaa ;">秒</nz-tag>
    </div>

    <div style="display: flex;" *ngIf="sec < 0">
        <nz-tag>
            <div style="margin: 0px 5px;font-weight: 500;color: rgb(211, 211, 211);">
                {{finishWorld}}
            </div>
        </nz-tag>
    </div>

    <!-- 截止时间提示 -->
    <span class="tooltiptext">{{date}}&nbsp;&nbsp;截止</span>
</div>

<!-- <div class="tooltip">鼠标移动到这
    <span class="tooltiptext">提示文本</span>
</div> -->