<div style="margin: 20px 0px 0px 0px;width: 70%;position: relative;">
    <nz-steps nzType="navigation" nzSize="small" [nzCurrent]="step" (nzIndexChange)="onIndexChange($event)">
        <nz-step nzTitle="查询" nzDescription="料品一级分类." nzIcon="file-search">
        </nz-step>
        <nz-step nzTitle="查询" nzDescription="料品二级分类." nzIcon="file-search">
        </nz-step>
        <nz-step nzTitle="查询" nzDescription="产品档案." nzIcon="file-search">
        </nz-step>
    </nz-steps>
</div>

<nz-spin [nzSpinning]="isSpinning" [nzDelay]="0">
    <div class="gridBox" id="Fir" style="display: block;">

        <div class="btnBox">
            <button nz-button [nzSize]="'small'" (click)='search1()' nzType="primary" nzGhost>查询</button>
            <button nz-button [nzSize]="'small'" (click)='toSec(1)' nzType="primary">下级详情</button>
        </div>

        <ag-grid-angular [enableCellTextSelection]="true" #Fir style="width: 90%; height: 500px;"
            class="ag-theme-balham" [rowData]="categoryFirstList" [columnDefs]="columnDefsFir" rowSelection="multiple">
        </ag-grid-angular>
        <div style="display: flex;justify-content: center;margin: 10px 0px;">
            <nz-pagination nzShowQuickJumper [(nzPageIndex)]="ind1" [nzPageSize]="10" [nzTotal]="totalCount1"
                [nzSize]="'small'" (nzPageIndexChange)='IndexChange1()'>
            </nz-pagination>
        </div>

        <nz-modal [(nzVisible)]="isVisible1" nzTitle="" (nzOnCancel)="cancel()" (nzOnOk)="toFir()" [nzOkText]='null'
            [nzCancelText]='null' nzWidth='30rem'>

            <h3><strong>查询料品一级分类</strong></h3>
            <div style="margin: 10px;">
                <div class="Tips"
                    style="display: flex;width: 100%;justify-content: center;justify-items: center;align-content: center;">
                    <div style="display: flex;width: 85%;justify-content: center;align-items: center;">
                        <input nz-input style="width: 100%;" [(ngModel)]="keyFirName" placeholder="一级分类名称(模糊匹配)"
                            (keyup)="Enter($event)">
                    </div>
                    <span class="tooltiptext">一级分类名称(模糊匹配)</span>
                </div>
            </div>
            <div style="display: flex;justify-content: center;">
                <button nz-button [nzSize]="'small'" (click)="cancel()"
                    style="margin-top: 20px;margin-right: 10px;">取消</button>
                <button nz-button [nzSize]="'small'" (click)="toFir()" nzType='primary'
                    style="margin-top: 20px;margin-left: 10px;">确定</button>
            </div>

        </nz-modal>

    </div>

    <div class="gridBox" id="Sec" style="display: none;margin-bottom: 30px;">

        <div class="btnBox">
            <button nz-button [nzSize]="'small'" (click)='search2()' nzType="primary" nzGhost>查询</button>
            <button nz-button [nzSize]="'small'" (click)='toPro(1)' nzType="primary">下级详情</button>
            <button nz-button [nzSize]="'small'" (click)='onIndexChange(0)'>返回</button>
        </div>

        <ag-grid-angular [enableCellTextSelection]="true" #Sec style="width: 90%; height: 500px;" class="ag-theme-balham" [rowData]="categorySecondList"
            [columnDefs]="columnDefsSec" rowSelection="multiple">
        </ag-grid-angular>

        <nz-modal [(nzVisible)]="isVisible2" nzTitle="" (nzOnCancel)="cancel()" (nzOnOk)="toSec(2)" [nzOkText]='null'
            [nzCancelText]='null' nzWidth='30rem'>

            <h3><strong>查询料品二级分类</strong></h3>
            <div style="margin: 10px;">
                <div class="Tips"
                    style="display: flex;width: 100%;justify-content: center;justify-items: center;align-content: center;">
                    <div style="display: flex;width: 85%;justify-content: center;align-items: center;">
                        <input nz-input style="width: 100%;" [(ngModel)]="keySecName" placeholder="二级分类名称(模糊匹配)"
                            (keyup)="Enter($event)">
                    </div>
                    <span class="tooltiptext">二级分类名称(模糊匹配)</span>
                </div>
            </div>
            <div style="display: flex;justify-content: center;">
                <button nz-button [nzSize]="'small'" (click)="cancel()"
                    style="margin-top: 20px;margin-right: 10px;">取消</button>
                <button nz-button [nzSize]="'small'" (click)="toSec(2)" nzType='primary'
                    style="margin-top: 20px;margin-left: 10px;">确定</button>
            </div>

        </nz-modal>
    </div>

    <div class="gridBox" id="Pro" style="display: none;margin-bottom: 30px;">

        <div class="btnBox">
            <button nz-button [nzSize]="'small'" (click)='search3()' nzType="primary" nzGhost>查询</button>
            <button nz-button [nzSize]="'small'" (click)='onIndexChange(1)'>返回</button>
        </div>

        <ag-grid-angular [enableCellTextSelection]="true" #Pro style="width: 90%; height: 500px;" class="ag-theme-balham" [rowData]="productList"
            [columnDefs]="columnDefsPro" rowSelection="multiple">
        </ag-grid-angular>

        <nz-modal [(nzVisible)]="isVisible3" nzTitle="" (nzOnCancel)="cancel()" (nzOnOk)="toPro(2)" [nzOkText]='null'
            [nzCancelText]='null' nzWidth='30rem'>

            <h3><strong>查询产品档案</strong></h3>
            <div style="margin: 10px;">
                <div class="Tips"
                    style="display: flex;width: 100%;justify-content: center;justify-items: center;align-content: center;">
                    <div style="display: flex;width: 85%;justify-content: center;align-items: center;">
                        <input nz-input style="width: 100%;" [(ngModel)]="keyProName" placeholder="产品名称(模糊匹配)"
                            (keyup)="Enter($event)">
                    </div>
                    <span class="tooltiptext">产品名称(模糊匹配)</span>
                </div>
                <div class="Tips"
                    style="display: flex;width: 100%;justify-content: center;justify-items: center;align-content: center;">
                    <div style="display: flex;width: 85%;justify-content: center;align-items: center;">
                        <input nz-input style="width: 100%;" [(ngModel)]="keyProSpec" placeholder="产品规格(模糊匹配)"
                            (keyup)="Enter($event)">
                    </div>
                    <span class="tooltiptext">产品规格(模糊匹配)</span>
                </div>
            </div>
            <div style="display: flex;justify-content: center;">
                <button nz-button [nzSize]="'small'" (click)="cancel()"
                    style="margin-top: 20px;margin-right: 10px;">取消</button>
                <button nz-button [nzSize]="'small'" (click)="toPro(2)" nzType='primary'
                    style="margin-top: 20px;margin-left: 10px;">确定</button>
            </div>

        </nz-modal>

    </div>
</nz-spin>