/* You can add global styles to this file, and also import other style files */

@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

nz-descriptions {
  div {
    text-align: center;
  }
}

div{
  font-family: YouYuan;
}

nz-tabset{
  font-weight: 900;
}

nz-tabset{
  font-weight: 900;
}




