<!-- 二次确认弹窗 -->
<ng-template #iconTpl>
    <i nz-icon nzType="question-circle-o" style="color: red;"></i>
</ng-template>

<nz-spin [nzSpinning]="isSpinning" [nzDelay]="0">
    <div
        style="width: 100%;display: flex;justify-content: center;justify-items: center;align-content: center;position: relative;right: 50px;margin: 20px 0px;">
        <nz-tabset [nzSize]="'small'" [nzTabPosition]="'top'" [nzType]="'card'" [nzTabBarGutter]="'50'"
            (nzSelectChange)='resetList()'>
            <!-- 新增结算方式 -->
            <nz-tab
                nzTitle="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;新&nbsp;&nbsp;增&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;">
                <div class="Tips"
                    style="display: flex;width: 100%;justify-content: center;justify-items: center;align-content: center;margin: 10px 0px;">
                    <div style="display: flex;width: 70%;">
                        <p style="color: red;font-size: large;font-weight: 500;">*&nbsp;&nbsp;&nbsp;</p>
                        <input nz-input placeholder="创建编码" [(ngModel)]="settlementAdd.code"
                            oninput="value=value.replace(/\s+/g,'')" />
                    </div>
                    <span class="tooltiptext">编码(必填)</span>
                </div>
                <div class="Tips"
                    style="display: flex;width: 100%;justify-content: center;justify-items: center;align-content: center;margin: 10px 0px;">
                    <div style="display: flex;width: 70%;">
                        <p style="color: red;font-size: large;font-weight: 500;">*&nbsp;&nbsp;&nbsp;</p>
                        <input nz-input placeholder="结算方式名称" [(ngModel)]="settlementAdd.value"
                            oninput="value=value.replace(/\s+/g,'')" />
                    </div>
                    <span class="tooltiptext">结算方式名称(必填)</span>
                </div>
                <div class="Tips"
                    style="display: flex;width: 100%;justify-content: center;justify-items: center;align-content: center;margin: 10px 0px;">
                    <div style="display: flex;width: 70%;">
                        <p style="color: #fff;font-size: large;font-weight: 500;">*&nbsp;&nbsp;&nbsp;</p>
                        <input nz-input placeholder="备注" [(ngModel)]="settlementAdd.remarks"
                            oninput="value=value.replace(/\s+/g,'')" />
                    </div>
                    <span class="tooltiptext">备注(默认为无)</span>
                </div>
                <div
                    style="display: flex;width: 100%;justify-content: center;justify-items: center;align-content: center;margin: 10px 0px;">
                    <button nz-button nzType="primary" nz-popconfirm nzPopconfirmTitle="请确认信息填写无误！" [nzSize]="'small'"
                        [nzIcon]="iconTpl" (nzOnConfirm)="doCreate()" (nzOnCancel)="cancel()">提交</button>
                </div>
            </nz-tab>

            <nz-tab
                nzTitle="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;删&nbsp;&nbsp;除&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;">
                <div class="Tips"
                    style="display: flex;width: 100%;justify-content: center;justify-items: center;align-content: center;margin: 10px 0px;">
                    <div style="display: flex;width: 70%;">
                        <p style="color: red;font-size: large;font-weight: 500;">*&nbsp;&nbsp;&nbsp;</p>
                        <nz-select style="width: 100%;" nzPlaceHolder="结算方式名称" [(ngModel)]="settlementIDDelete">
                            <ng-container *ngFor="let item of settlementList;let j = index">
                                <nz-option nzValue="{{item.bizid}}" nzLabel="{{item.value}}">
                                </nz-option>
                            </ng-container>
                        </nz-select>
                    </div>
                    <span class="tooltiptext">结算方式名称(必填)</span>
                </div>
                <div
                    style="display: flex;width: 100%;justify-content: center;justify-items: center;align-content: center;margin: 10px 0px;">
                    <button nz-button nzType="primary" nz-popconfirm nzPopconfirmTitle="确认信息填写无误！" [nzSize]="'small'"
                        [nzIcon]="iconTpl" (nzOnConfirm)="doDelete()" (nzOnCancel)="cancel()">提交</button>
                </div>
            </nz-tab>
        </nz-tabset>
    </div>
</nz-spin>